SECRET_KEY=castromonte-super-secret-key-dev-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Local: deja vacio DATABASE_URL para usar SQLite.
# Railway: Railway lo inyecta automaticamente.
DATABASE_URL=
DATABASE_SSL_REQUIRE=True

# Login y pagos
GOOGLE_CLIENT_ID=
CULQI_SECRET_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Opcionales para despliegue
CSRF_TRUSTED_ORIGINS=https://*.railway.app
SESSION_COOKIE_SECURE=False

# Opcionales si luego quieres crear superusuario con --noinput
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
